.alert-danger {
  display: none;
}

.alert-danger-active {
  display: block;
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

.alert-success {
  display: none;
}

.alert-success-active {
  display: block;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.alert-warning {
  display: none;
}

.alert-warning-active {
  display: block;
  -webkit-animation: slide-in-bck-center 1.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
